<footer class="site-footer h-card">
    <data class="u-url" href="/"></data>
    <div class="wrapper">
        <div class="footer-col-wrapper">
            <div class="footer-column">
                <h2 class="footer-heading">EchoEventsBot</h2>
            </div>
            <div class="footer-column">
                Follow us:
                <a href="#">
                    <img src="/assets/img/x.svg" width="28" height="28"/>
                </a>
                <a href="#">
                    <img src="/assets/img/reddit.svg" width="28" height="28"/>
                </a>
                <a href="#">
                    <img src="/assets/img/medium.svg" width="28" height="28"/>
                </a>
            </div>
            <div class="footer-column">
                <p>© 2024 echoeventsbot.online</p>
            </div>
    </div>
</footer>
