<footer class="site-footer h-card">
    <data class="u-url" href="/"></data>
    <div class="wrapper">
        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <h2 class="footer-heading">EchoEventsBot</h2>
            </div>
            <div class="footer-col footer-col-2">
                Social links
            </div>
            <div class="footer-col footer-col-3">
                <p>© 2024  echoeventsbot.online. All rights reserved.</p>
            </div>
    </div>
</footer>
