---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

body > header {
  background-image: linear-gradient(to right, #87CEFA, #1E90FF); /* Sky to Ocean gradient */
}

h1 {
  font-size: 38px;
  font-weight: 200 !important;
  line-height: 60px;
  text-align: center;
}

p.center {
  text-align: center;
}

.flat-button {
  background-image: linear-gradient(to right, #8A2BE2, #DA70D6); /* Gradient from blue-violet to orchid */
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
  margin: 15px 2px 15px 0px;
  cursor: pointer;
  border-radius: 30px;
  transition: background 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow for depth */
}

.flat-button:hover {
  background-image: linear-gradient(to right, #9932CC, #BA55D3); /* Darker purple gradient for hover effect */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25); /* Larger shadow on hover for a lifting effect */
}

.gradient-overlay {
  background-image: linear-gradient(to right, #b6d0e2, #dbe9f4);
  padding: 40px 0;
  margin-top: 30px;
}

.phone-frame {
  position: relative;
  width: 272px;
  height: 622px;
  background: url('img/phone_bg.png') no-repeat center center;
  background-size: contain;
  margin: 0 auto;
}

.phone-frame video {
  position: absolute;
  top: 55px;
  left: 20px;
  width: 233px;
  object-fit: cover; /* Ensures the video covers the entire frame */
}

.section {
    border: 1px solid #cccccc;
    border-radius: 8px;
    padding: 20px;
    margin-top: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.section strong {
    display: block;
    color: #0056b3;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 200;
}

.section p {
    color: #666;
    font-size: 16px;
    text-align: justify;
}

.site-title .logo {
    width: 30px;
    margin-top: -5px;
    margin-right: 10px;
}

.footer-col-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.footer-column {
    flex: 1;
    text-align: center;
}

.footer-column:first-child {
    text-align: left;
}

.footer-column:last-child {
    text-align: right;
}

.footer-column h2, .footer-column p {
    margin-bottom: 0;
}

@media screen and (max-width: 600px) {
    .footer-col-wrapper {
        display: block;
    }

    .footer-column {
        text-align: center !important;
        margin-bottom: 20px;
    }

}
