---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <div class="content-container">
    <div class="left-column">
      <h1>Receive notifications about the events you like, directly in Telegram.</h1>
      <button class="flat-button">Join Now</button>
    </div>
    <div class="right-column color-frame">
      <div class="phone-frame">
        <video autoplay muted loop>
          <source src="/assets/video/presentation.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
</div>
