---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <div class="content-container">
    <p>
      <h1>Receive notifications about the events you like, directly in Telegram.</h1>
    </p>
    <p class="center">
      <button class="flat-button">Join Now</button>
    </p>
    <div class="gradient-overlay">
      <div class="phone-frame">
        <video autoplay="autoplay" muted="muted" loop="loop">
          <source src="/assets/video/presentation.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
    <div class="section">
      <strong>AI-Powered Efficiency 🤖</strong>
      <p>
        Start a chat with EchoEventsAI, tell it your preferences, and let it do the rest. Using advanced AI, it quickly finds and recommends events tailored just for you. Enjoy a personalized event feed effortlessly.
      </p>
    </div>
    <div class="section">
      <strong>Local Events, Personalized for You 📍</strong>
      Stay informed with EchoEventsAI, whether you're local or visiting. Simply choose your preferred cities and get timely updates on all types of events, from small meetups to major gatherings.
    </div>
    <div class="section">
      <strong>Comprehensive Coverage 🌐</strong>
      <p>Local Events, Personalized for You. Stay updated on happenings around you.</p>
    </div>
  </div>
</div>
